.footersection {
  text-align: center;
  background-color: rgb(32, 71, 145);
  color: white;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
span {
  animation: 2s anmution infinite;
}
@keyframes anmution {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
